In [2]:
#
# Descarga de datos
#
import pandas as pd


owner = "jdvelasq"
repo = "datalabs"
file = "datasets/demanda_comercial.csv"

file_url = f"https://raw.githubusercontent.com/{owner}/{repo}/master/{file}"

In [3]:
data = pd.read_csv(file_url, sep=";", decimal=",", thousands=".")
data.head()

,Fecha,H01,H02,H03,H04,H05,H06,H07,H08,H09,...,H15,H16,H17,H18,H19,H20,H21,H22,H23,H24
0,2017-01-01,6090271.96,5887031.28,5708693.89,5538133.02,5389774.53,5288199.94,4851217.85,4876162.18,5073813.27,...,5745568.87,5647807.40,5609297.84,5690105.56,6761038.26,7077861.59,6979468.90,6695312.12,6289107.72,5794545.98
1,2017-01-02,5557603.42,5361012.17,5239119.86,5163721.70,5249539.75,5438852.95,5566947.57,6055220.80,6588005.66,...,7610559.73,7584026.97,7421194.49,7317194.26,8182697.67,8482127.69,8251009.75,7836278.95,7221234.85,6660691.64
2,2017-01-03,6160676.02,5924880.04,5764416.93,5685832.28,5778222.13,5985840.29,6083907.36,6545100.21,7092804.54,...,8148614.93,8117168.00,7930900.03,7783762.28,8653467.38,8835882.88,8562448.23,8095841.79,7443299.51,6840297.15
3,2017-01-04,6321851.20,6092135.24,5905390.85,5827867.82,5925730.02,6182279.89,6276759.96,6737660.53,7256819.19,...,8164513.51,8132006.92,7962749.39,7841533.59,8700506.07,8860255.66,8611085.76,8147451.75,7471240.82,6838250.32
4,2017-01-05,6395397.96,6162409.22,6001153.67,5918673.26,6005924.21,6225027.53,6322923.78,6739120.44,7307847.42,...,8144209.65,8136193.07,8022918.36,7927405.07,8718181.89,8832234.87,8579992.47,8063978.64,7406615.66,6829864.57

In [4]:

#
# Se organizan los datos para graficarlos.
#
data_to_plot = data.copy()
data_to_plot = data_to_plot.melt(
    id_vars=["Fecha"], var_name="hora", value_name="demanda"
)
data_to_plot = data_to_plot.sort_values(by=["Fecha", "hora"])
data_to_plot = data_to_plot.reset_index(drop=True)
data_to_plot = data_to_plot.head(500)
data_to_plot.head()

        Fecha hora     demanda
0  2017-01-01  H01  6090271.96
1  2017-01-01  H02  5887031.28
2  2017-01-01  H03  5708693.89
3  2017-01-01  H04  5538133.02
4  2017-01-01  H05  5389774.53

In [5]:
# Crea una carpeta de salida
#
import os

if not os.path.exists("../files/plots"):
    os.makedirs("../files/plots")

if not os.path.exists("../files/data"):
    os.makedirs("../files/data")

In [19]:
import matplotlib.pyplot as plt
#
# Patrones de ejemplo
#
#plt.figure(figsize=(7, 4))
#plt.plot(data.loc["1970-01-01", :], ".-", color="tab:blue")
#plt.plot(data.loc["1970-01-02", :], ".-", color="tab:orange")
#plt.plot(data.loc["1970-01-03", :], ".-", color="tab:green")
#plt.xticks(rotation=90)
#plt.show()

In [20]:
#
# Se divide cada fila por el mÃ¡ximo de la fila para
# hacer adimensionales los datos
#
#data = data.apply(lambda row: row / row.max(), axis=1)
#data.head(10)

In [21]:
#
# Patrones de ejemplo
#
#plt.figure(figsize=(7, 4))
#plt.plot(data.loc["2017-06-05", :], ".-", color="tab:blue")
#plt.plot(data.loc["2018-06-05", :], ".-", color="tab:orange")
#plt.plot(data.loc["2022-06-03", :], ".-", color="tab:green")
#plt.xticks(rotation=90)
#plt.savefig("../files/plots/demanda-comercial-patrones-ejemplo.png")
#plt.show()

In [23]:
plt.savefig("../files/plots/demanda-comercial-patrones-ejemplo.png")

In [22]:
plt.savefig("../files/plots/demanda-comercial-perfiles.png")

In [24]:
plt.savefig("../files/plots/demanda-comercial.png")